body {
  background: rgb(16, 17, 19);
  background: radial-gradient(
    circle,
    rgba(16, 17, 19, 1) 0%,
    rgba(112, 70, 252, 0.9841123949579832) 100%
  );
  font-family: "Inconsolata", monospace;
  color: black;
}

img {
  border: 2px solid black;
  border-radius: 4px;
  width: 150px;
  float: left;
  margin-bottom: 10px;
  margin-right: 5px;
}

.jozy {
  border-radius: 8px;
}

.well {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  opacity: 0.5;
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.stack {
  font-weight: bold;
  font-style: italic;
}

.icon {
  width: 50px;
}

footer {
  bottom: 0px;
  width: 400px;
  text-align: center;
}

img#robo {
  filter: invert(100%);
}

.underline {
  text-decoration: underline;
}

.projects {
  padding-top: 10px;
  margin-top: 10px;
}
